include ./template.jade

body
  .container
    .row
      .col-md-12
        h1.text-center alfred2-basecamp auth
    .row
      .col-sm-6.col-sm-offset-3
        p.lead.text-center Thanks for authenticating!
        p.text-center Your token:

    .row
      .col-md-4.col-md-offset-4
        textarea(style="width: 100%; height: 300px")= token
